@charset "UTF-8";
.card {

  margin: 5px 5px 5px 5px;
  cursor: pointer;
  /* Set the card's dimensions, and size it relative to
     it's font size. This controls the actual size of the cards*/
  font-size: inherit;
  width: 4rem;
  height: 5.5em;
  /* Add a default background color and border. */
  background-color: #fff;
  border-radius: 0.20em;
  border: 1px solid #c3c3c3;
  /* Scale and set the background settings. */
  background-repeat: no-repeat;
  background-position:  center;
  background-size: contain;
  /* "Hide" any text within the element (use text to be
     simply compliant with screen readers, etc.). */
  
  /* Default sizes for cards (size based off the font). */
  /* Optional styles for cards: borderless and drop shadow. */
  /* Not a card, but a card-shaped outline to represent a
     droppable place, like an empty pile. */ }
  .card.small {
    font-size: 12px; }
  .card.large {
    font-size: 26px; }
  .card.xlarge {
    font-size: 42px; }
  .card.no-border {
    border: 0; }
  .card.shadow {
    box-shadow: 2px 2px 3px 0 rgba(41, 41, 41, 0.75); }
  .card.outline {
    background-image: none;
    background-color: rgba(195, 195, 195, 0.5);
    border: 0.15em dashed #daa520; }

.card.hearts.A,
.card_hA,
.card.♥A {
  background-image: url("../images/hearts/hearts-A.svg"); }

.card.hearts.K,
.card_hK,
.card♥K {
  background-image: url("../images/hearts/hearts-K.svg"); }

.card.hearts.Q,
.card_hQ,
.card.♥Q {
  background-image: url("../images/hearts/hearts-Q.svg"); }

.card.hearts.J,
.card_hJ,
.card.♥J {
  background-image: url("../images/hearts/hearts-J.svg"); }

.card.clubs.A,
.card_cA,
.card.♣A {
  background-image: url("../images/clubs/clubs-A.svg"); }

.card.clubs.K,
.card_cK,
.card.♣K {
  background-image: url("../images/clubs/clubs-K.svg"); }

.card.clubs.Q,
.card_cQ,
.card.♣Q {
  background-image: url("../images/clubs/clubs-Q.svg"); }

.card.clubs.J,
.card_cJ,
.card.♣J {
  background-image: url("../images/clubs/clubs-J.svg"); }

.card.back {
  background-image: url("../images/backs/blue.svg"); }

.card.back-blue {
  background-image: url("../images/backs/blue.svg"); }

.card.back-red {
  background-image: url("../images/backs/red.svg"); }

/* Re-orients the cards for different directions. While
   they are symmetric, it's still important to orient
   them correctly in case text or other symbols are
   layered on them with CSS pseudo-selectors, new
   classes/rules, etc. */


    .card:hover {
      transform: scale(1.05);
      background-color: rgba(195, 195, 195, 0.5);
    }